.header{
    background-image: linear-gradient(#1a1a1a, #242424, #2b2b2b, #363636);
    padding: 15px;
    img{
        width: 57px;
        height: 60px;
        margin-left: 60px ;
    }
    p{
        font-size: 30px;
        // font-weight: 600;
        margin-top: 5px;
        margin-left: 20px;
        color: white;
        font-family: 'New Tegomin', serif;
        text-transform: capitalize;
    }
}