.balance{
    padding: 20px;
    p{
        font-size: 30px;
        color: white !important;
        font-family: 'New Tegomin', serif;
        display: inline-block;
    }
    span{
        color: #00B3B0;
        font-size: 30px;
        display: inline-block;
    }
}